<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
<body>

    <header>
        <img src="/img/300.jpg" alt="Our Mascot">
    </header>

    {{{body}}}

</body>
</html>
